body {
  margin: 0;
  padding: 0;
  color: #F2F4F5;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  background: #DE6262;  
  background: -webkit-linear-gradient(to top, #FFB88C, #DE6262);  
  background: linear-gradient(to top, #FFB88C, #DE6262); 
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}
